body{ /*전체*/
  margin:0;
  background: white;
}

#top-bar{ /*메뉴바*/
  position:fixed;
  z-index:100;
  //border:1px solid blue;
  background:#f8bf3c;
  width:100%;
  padding:15px;
}

#top-bar h4{
  color:white;
  text-shadow:-1px 0 #f8bf3c, 0 1px #f8bf3c, 1px 0 #f8bf3c, 0 -1px #f8bf3c;
  padding:0;
  margin:0;
  text-align:center;
}

#top-bar h4 span:nth-child(1){

}

#top-bar h4 span:nth-child(2){

}

#top-bar h4 span:nth-child(3){

}

#top-bar h4 span:nth-child(4){

}

#top-bar h4 span:nth-child(5){

}

#top-bar h4 span:nth-child(6){

}

#top-bar h4 span:nth-child(7){

}

#top-bar h4 span a:link{
  color:black;
  text-decoration:none;
}

#top-bar h4 span a:visited{
  color:black;
}

#top-bar h4 span a:hover{
  color:gray;
}

#texturenphoto{ /*질감과 사진*/
  //border:1px solid red;
}

#texturenphoto .texture{ /*질감*/
  width:100%;
  height:300px;
}

#texturenphoto h1{ /*한 줄 소개*/
  font-family: 'Nanum Pen Script', cursive; /*나눔 손글씨 펜 폰트*/
  font-size:50px;
  padding:0;
  margin:0;
  //margin-left:33%;
  position:absolute; left:13%;
  top:110px;
  white-space: nowrap;
}

#texturenphoto .photo{ /*증명사진*/
  width:124px;
  height:166px;
  position:absolute; left:13%;
  //left:550px;
  top:213px;
}

.blankspace{
  margin-bottom:157px;
}

.edge{
  //border:1px solid red;
}

.contents{
  margin-left:100px;
  margin-right:100px;
  margin-bottom:100px;
  //border:1px solid brown;
  white-space: nowrap;
}

.contents ul{
  margin-top:30px;
  margin-bottom:30px;
  line-height:30px;
}

#aboutme{
  padding-top:30px;
}

#aboutme .meimg{
  width:30px;
  height:30px;
}

#aboutme h1{
  color:blue;
  padding-bottom:15px;
  border-bottom:1px solid gray;
}

#aboutme .introduce{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
}

#aboutme .contact{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#aboutme .contact a:link{
  color:black;
  text-decoration: underline;
}

#aboutme .contact a:visited{
  color:black;
}

#aboutme .contact a:hover{
  color:gray;
}

#skills{
  margin-top:50px;
  padding-top:30px;
}

#skills .skillimg{
  width:30px;
  height:30px;
}

#skills h1{
  color:indigo;
  padding-bottom:15px;
  border-bottom:1px solid gray;
}

#skills .frontend{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#skills .windowsapp{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#skills .collabtool{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#work{
  margin-top:50px;
  padding-top:30px;
}

#work .workimg{
  width:30px;
  height:30px;
}

#work h1{
  color:blue;
  padding-bottom:15px;
  border-bottom:1px solid gray;
}

#work .nia{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#work .bimatrix{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#personal{
  margin-top:50px;
  padding-top:30px;
}

#personal .personalimg{
  width:30px;
  height:30px;
}

#personal h1{
  color:blue;
  padding-bottom:15px;
  border-bottom:1px solid gray;
}

#personal .project_1{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#personal .project_1 a:link{
  font-weight:bold;
  color:black;
  text-decoration:underline;
}

#personal .project_1 a:visited{
  color:black;
}

#personal .project_1 a:hover{
  color:gray;
}

#personal .project_2{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#personal .project_2 a:link{
  font-weight:bold;
  color:black;
  text-decoration:underline;
}

#personal .project_2 a:visited{
  color:black;
}

#personal .project_2 a:hover{
  color:gray;
}

#edu{
  margin-top:50px;
  padding-top:30px;
}

#edu .eduimg{
  width:30px;
  height:30px;
}

#edu h1{
  color:blue;
  padding-bottom:15px;
  border-bottom:1px solid gray;
}

#edu .edu_1{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#edu .edu_2{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#edu .edu_3{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#certificate{
  margin-top:50px;
  padding-top:30px;
}

#certificate .certificateimg{
  width:30px;
  height:30px;
}

#certificate h1{
  color:blue;
  padding-bottom:15px;
  border-bottom:1px solid gray;
}

#certificate .certificate_1{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#certificate .certificate_2{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
}

#certificate .certificate_3{
  padding-left:25px;
  display:grid;
  grid-template-columns:350px 1fr;
  //border:1px solid gray;
  margin-top:10px;
